/* .container {
  position: relative;
  background-color: rgba(240, 255, 240, 0.678);
  min-height: 100vh;
  padding: 1rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/assets/logo/modal_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}

.dashboard {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffffb8;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  color: #2e8b57;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.logoutButton {
  background-color: #0f0f0f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  transition: background-color 0.3s;
}
.updateButton {
  background-color: #0a7e0a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #45a049;
}

.welcome {
  margin-bottom: 1rem;
}

.welcome h2 {
  color: #2e8b57;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.welcome p {
  color: #4caf50;
  font-size: 0.9rem;
}

.status {
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.status h3 {
  margin: 0;
  font-size: 1rem;
}

.dates {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  color: #2e8b57;
}

.dates h4 {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.dates p {
  font-size: 0.8rem;
}

.nextSteps {
  margin-top: 1rem;
  border-top: 1px solid #4caf50;
  padding-top: 1rem;
}

.nextSteps h3 {
  color: #2e8b57;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.nextSteps ul {
  color: #4caf50;
  padding-left: 1.5rem;
  font-size: 0.9rem;
}

.nextSteps li {
  margin-bottom: 0.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
  color: #2e8b57;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }

  .dashboard {
    padding: 2rem;
  }

  .title {
    font-size: 2rem !important;
  }

  .welcome h2 {
    font-size: 1.5rem;
  }

  .welcome p {
    font-size: 1rem;
  }

  .status h3 {
    font-size: 1.2rem;
  }

  .dates {
    grid-template-columns: 1fr 1fr;
  }

  .dates h4 {
    font-size: 1rem;
  }

  .dates p {
    font-size: 0.9rem;
  }

  .nextSteps h3 {
    font-size: 1.2rem;
  }

  .nextSteps ul {
    font-size: 1rem;
  }

  .updateButton, .logoutButton {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
  }
} */

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  border-radius: 11px;
  font-family: "Inter", sans-serif;
}

.school_name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a5d1a;
  text-align: center;
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0) 50%,
    #f8f8f888 100%
  );
  border: 1px solid #f7f7f8;
  filter: drop-shadow(0px 0.5px 0.5px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}

.status {
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
}

.status h3 {
  margin: 0;
  font-size: 1rem;
}

.dates {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* color: #2e8b57; */
}

.dates h4 {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.dates p {
  font-size: 0.8rem;
}

.nextSteps {
  margin-top: 1rem;
  border-top: 1px solid #4caf50;
  padding-top: 1rem;
  width: 100%;
}

.nextSteps h3 {
  /* color: #2e8b57; */
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.nextSteps ul {
  /* color: #4caf50; */
  padding-left: 1.5rem;
  font-size: 0.9rem;
}

.nextSteps li {
  margin-bottom: 0.5rem;
}

.updateButton,
.logoutButton {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.updateButton {
  background-color: #0a7e0a;
  color: #ffffff;
}

.logoutButton {
  background-color: #0f0f0f;
  color: #ffffff;
}

.updateButton:hover {
  background-color: #0a7e0a;
}

.logoutButton:hover {
  background-color: #45a049;
}

.notice {
  margin-top: 20px;
  font-size: 0.9em;
  color: #555;
  text-align: center;
}
