.optionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.printViewHr{
  margin-bottom: 1rem;
}

.optionButtons button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.optionButtons button.activeOption {
  background-color: #4caf50;
  color: white;
}

.smsView,
.printView {
  padding: 20px;
}

.messageInput {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.sendButton,
.printButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.recipientList,
.printableContent {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.userCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

@media print {
  .printButton,
  .optionButtons {
    display: none;
  }
}

.selectPrint{
  margin-right: auto;
}

.button-3 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-top: 1rem;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 120px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}