@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}
p {
  font-size: 0.7rem;
}

.formbold-error {
  color: red;
  font-size: 0.6rem;
  margin-top: 0.25rem;
}

.error {
  border-color: red;
}
em {
  font-size: medium;
}
select {
  padding: 0.5rem;
  height: 40px;
}

/* Add this to your global CSS file */
.toast {
  /* position: fixed; */
  /* top: 20px;
  left: 50%;
  transform: translateX(-50%); */
  background-color: #275338;
  color: #fff;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}


input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}