.formboldInputFlex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22px;
}

.formboldGrid {
  display: grid;
  gap: 20px;
}

.formbold-awaiting-info {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: x-small;
}

.awaitingChecbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.formboldGridRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 10px;
  align-items: center;
  color: #536387;
}

.formboldGridColumn,
.subjectColumn,
.gradeColumn {
  display: flex;
  flex-direction: column;
}
.addMargin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.careerFieldsTxt {
  font-size: small !important;
}
.lineHeight {
  line-height: 1rem;
}
.subjectColumn {
  margin-bottom: 0.5rem;
  grid-column: span 3;
}
.subjectColumnTxt {
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.foreignNoteTxt {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
}
.fontBoldMainHeaders {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
}

.subjectColumnSelectBox {
  padding: 0.5rem;
  height: 40px;
  /* margin-bottom: 0.5rem; */
}

.fixDateWidth {
  width: 82vw;
  height: 40px;
  background-color: white;
}

.gradeColumn {
  flex: 1;
}

.awaitingColumn {
  /* width: 50px; */
  color: #536387;
}

.formboldGridColumn span,
.subjectColumn span,
.gradeColumn span {
  font-size: 14px;
  color: #536387;
  margin-bottom: 5px;
}

.formboldGridColumn input,
.subjectColumn input,
.gradeColumn select {
  padding: 10px;
  border: 1px solid #dde3ec;
  border-radius: 5px;
  font-size: 14px;
  color: #536387;
}

.qualificationNote {
  font-size: 12px;
  /* text-transform: capitalize; */
}

.formboldGrid .formboldGridRow:nth-child(even) {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}
.formboldGrid .formboldGridRow:nth-child(odd) {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .formboldGridRow {
    grid-template-columns: 1fr;
  }

  .subjectColumn {
    grid-column: span 1;
  }
}
